html {
	box-sizing: border-box;
	font-family: "segoe ui", helvetica, san-serif;
}
body {
	margin: 0;
	overflow: hidden;
}

svg {
	width: 100%;
	height: 98vh;
	font-size: 12px;
}

.axis line,
.axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.normal {
	stroke: red;
	stroke-width: 2px;
	fill: none
}
.click {
	cursor: pointer;
}